* {
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    min-height: 20px;
    margin-bottom: 1px;
    margin-top: 1px;
}

window#waybar {
	font-family: "Dank Mono", "Arimo Nerd Font", "FontAwesome";
	font-size: 12px;
    background-color: transparent;
    border-bottom: 0px;
    color: #ebdbb2;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-property: none;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}
/*

window#waybar.empty #window {
    background-color: transparent;
}
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}

*/
.modules-right {
margin-right: 20px
}
.modules-center {
}
.modules-left {
    margin-left: 20px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
} */


#workspaces,
#custom-notification,
#mode,
#battery,
#cpu,
#memory,
#pulseaudio,
#idle_inhibitor,
#temperature,
#backlight,
#custom-power_use,
#scratchpad,
#window,
#clock,
#tray,
#custom-spotify,
#custom-scratchpad,
#network,
#load {
    background-color: #282828;
    color: #ebdbb2;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

#cpu {
    padding-left: 5px;
    padding-right: 4px;
    color: #1d2021;
    background-color: #fb4934;
    border-radius: 5px 0 0 5px;
}

#memory {
    background-color: #fe8019;
    color: #1d2021;
    border-radius: 0px 0 0 0px;
}

#custom-power_use {
    background-color: #fabd2f;
    color: #1d2021;
    border-radius: 0px 0 0 0px;
}

#backlight {
    background-color: #8ec07c;
    color: #1d2021;
    border-radius: 0px 0 0 0px;
}

#temperature {
    background-color: #83a598;
    color: #1d2021;
    border-radius: 0px 0 0 0px;
}

#pulseaudio {
    background-color: #d3869b;
    color: #1d2021;    
    border-radius: 0 5px 5px 0;
}

#window {
    color: #ebdbb2;
    background-color: #1d2021;
    font-style: italic;
}

#mode {
    background-color: #689d6a;
    color: #282828;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces {
    background-color: transparent;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
}

#workspaces button {
    background-color: #282828;
    color: #ebdbb2;
    border-radius: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -2px;
    margin-bottom: -1px;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: #d79921;
}

#workspaces button.focused {
    background-color: #458588;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    background-color: #98971a;
    color: #282828;
    border-radius: 0px 0 0 0px;
}

#battery.charging, #battery.plugged {
    background-color: #98971a;
    color: #282828;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ebdbb2;
    }
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: #458588;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#tray {
}

#tray menu {
    font-family: sans-serif;
}

#scratchpad.empty {
    background: transparent;
}

